$maximum-width: 1235px;
$fluid-breakpoint: $maximum-width + 20px;
$column-breakpoint: 700px;
$small-breakpoint: 960px;

.public-layout {
  .container {
    width: 100%;
    max-width: 960px;

    @media screen and (max-width: $no-gap-breakpoint) {
      padding: 0;
    }
  }

  .content {
    display: block;
    margin: 40px 0;
    background: var(--foreground-color);
    border-radius: 6px;

    @media screen and (max-width: 520px) { margin: 40px 20px; }

    @media screen and (max-width: 767px) {
      margin-top: 0;
    }
  }

  .header {
    height: 80px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 14px 0;
    box-sizing: border-box;

    @media screen and (max-width: 1024px) {
      padding: 14px 20px;
    }

    .header-container {
      display: flex;
      width: 960px;
      align-items: stretch;
      justify-content: center;
      flex-wrap: nowrap;

      & > div {
        flex: 1 1 33.3%;
        min-height: 1px;
      }
    }

    .nav-left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }

    .nav-center {
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-wrap: nowrap;
    }

    .nav-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: nowrap;

      .simple_form.new_user {
        display: flex;
        flex-direction: row;
        align-items: center;

        .fields-group {
          display: flex;
          flex-direction: row;
          margin-bottom: 0;
          position: relative;

          p.hint.subtle-hint {
            position: absolute;
            top: 30px;
            left: 160px;
            border-radius: 4px;
            background: var(--foreground-color);
            overflow: hidden;

            a {
              padding: 4px;
              background-color: var(--brand-color--med);
            }
          }

          .input {
            margin-bottom: 0;
            margin-right: 10px;

            input {
              min-width: 150px;
              font-size: 14px;
            }
          }
        }

        .actions {
          display: flex;
          margin-top: 0;

          .button {
            margin-bottom: 0 !important;
            line-height: 38px !important;
            border: 1px solid #333 !important;
            height: 38px !important;
            box-sizing: border-box !important;
            padding: 0 18px !important;
            text-transform: none !important;
          }
        }
      }
    }

    .brand {
      display: block;

      img {
        display: block;
        height: 30px;
        width: auto;
        position: relative;
        bottom: -2px;

        @media screen and (max-width: $no-gap-breakpoint) {
          height: 20px;
        }
      }
    }

    .nav-link {
      display: flex;
      align-items: center;
      padding: 12px 22px;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      color: var(--primary-text-color);
      white-space: nowrap;
      text-align: center;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
        color: var(--primary-text-color);
      }

      &--hollow {
        background-color: var(--brand-color--med);

        &:hover,
        &:focus,
        &:active {
          color: var(--brand-color);
        }

      }

      @media screen and (max-width: 550px) {
        &.optional {
          display: none;
        }
      }
    }

    .nav-button {
      background: var(--brand-color);
      color: #fff;
      margin: 8px;
      margin-left: 0;
      border-radius: 4px;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.9;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  $no-columns-breakpoint: 600px;

  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(300px, 3fr) minmax(298px, 1fr);
    grid-auto-columns: 25%;
    grid-auto-rows: max-content;

    .column-0 {
      grid-row: 1;
      grid-column: 1;
    }

    .column-1 {
      grid-row: 1;
      grid-column: 2;
    }

    @media screen and (max-width: $no-columns-breakpoint) {
      grid-template-columns: 100%;
      grid-gap: 0;

      .column-1 {
        display: none;
      }
    }
  }

  .public-account-header {
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0 0 15px rgba($base-shadow-color, 0.2);

    &.inactive {
      opacity: 0.5;

      .public-account-header__image,
      .avatar {
        filter: grayscale(100%);
      }

      .logo-button {
        background-color: var(--primary-text-color--faint);
      }
    }

    &__image {
      border-radius: 4px 4px 0 0;
      overflow: hidden;
      height: 300px;
      position: relative;
      background: var(--background-color);

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 -1px 1px 1px rgba($base-shadow-color, 0.15);
        top: 0;
        left: 0;
      }

      img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 4px 4px 0 0;
      }

      @media screen and (max-width: 600px) {
        height: 200px;
      }
    }

    &--no-bar {
      margin-bottom: 0;

      .public-account-header__image,
      .public-account-header__image img {
        border-radius: 4px;

        @media screen and (max-width: $no-gap-breakpoint) {
          border-radius: 0;
        }
      }
    }

    @media screen and (max-width: $no-gap-breakpoint) {
      margin-bottom: 0;
      box-shadow: none;

      &__image::after {
        display: none;
      }

      &__image,
      &__image img {
        border-radius: 0;
      }
    }

    &__bar {
      position: relative;
      margin-top: -80px;
      display: flex;
      justify-content: flex-start;

      &::before {
        content: "";
        display: block;
        background: var(--brand-color--faint);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        border-radius: 0 0 4px 4px;
        z-index: -1;
      }

      .avatar {
        display: block;
        width: 120px;
        height: 120px;
        padding-left: 20px - 4px;
        flex: 0 0 auto;

        img {
          display: block;
          width: 100%;
          height: 100%;
          margin: 0;
          border-radius: 50%;
          border: 4px solid var(--brand-color--faint);
          background: var(--background-color);
        }
      }

      @media screen and (max-width: 600px) {
        margin-top: 0;
        background: var(--brand-color--faint);
        border-radius: 0 0 4px 4px;
        padding: 5px;

        &::before {
          display: none;
        }

        .avatar {
          width: 48px;
          height: 48px;
          padding: 7px 0;
          padding-left: 10px;

          img {
            border: 0;
            border-radius: 4px;
          }

          @media screen and (max-width: 360px) {
            display: none;
          }
        }
      }

      @media screen and (max-width: $no-gap-breakpoint) {
        border-radius: 0;
      }

      @media screen and (max-width: $no-columns-breakpoint) {
        flex-wrap: wrap;
      }
    }

    &__tabs {
      flex: 1 1 auto;
      margin-left: 20px;

      &__name {
        padding-top: 20px;
        padding-bottom: 8px;

        h1 {
          font-size: 20px;
          line-height: 18px * 1.5;
          color: var(--primary-text-color);
          font-weight: 500;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-shadow: 1px 1px 1px $base-shadow-color;

          small {
            display: block;
            font-size: 14px;
            color: var(--primary-text-color);
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      @media screen and (max-width: 600px) {
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__name {
          padding-top: 0;
          padding-bottom: 0;

          h1 {
            font-size: 16px;
            line-height: 24px;
            text-shadow: none;

            small {
              color: var(--primary-text-color--faint);
            }
          }
        }
      }

      &__tabs {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        height: 58px;

        .details-counters {
          display: flex;
          flex-direction: row;
          min-width: 300px;
        }

        @media screen and (max-width: $no-columns-breakpoint) {
          .details-counters {
            display: none;
          }
        }

        .counter {
          width: 33.3%;
          box-sizing: border-box;
          flex: 0 0 auto;
          color: var(--primary-text-color--faint);
          padding: 10px;
          border-right: 1px solid var(--brand-color--faint);
          cursor: default;
          text-align: center;
          position: relative;

          a {
            display: block;
          }

          &:last-child {
            border-right: 0;
          }

          &::after {
            display: block;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 4px solid var(--brand-color);
            opacity: 0.5;
            transition: all 400ms ease;
          }

          &.active {
            &::after {
              border-bottom: 4px solid var(--highlight-text-color);
              opacity: 1;
            }

            &.inactive::after {
              border-bottom-color: var(--primary-text-color--faint);
            }
          }

          &:hover {
            &::after {
              opacity: 1;
              transition-duration: 100ms;
            }
          }

          a {
            text-decoration: none;
            color: inherit;
          }

          .counter-label {
            font-size: 12px;
            display: block;
          }

          .counter-number {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 5px;
            color: var(--primary-text-color);
            font-family: var(--font-display), sans-serif;
          }
        }

        .spacer {
          flex: 1 1 auto;
          height: 1px;
        }

        &__buttons {
          padding: 7px 8px;
        }
      }
    }

    &__extra {
      display: none;
      margin-top: 4px;

      .public-account-bio {
        border-radius: 0;
        box-shadow: none;
        background: transparent;
        margin: 0 -5px;

        .account__header__fields {
          border-top: 1px solid var(--brand-color--med);
        }

        .roles {
          display: none;
        }
      }

      &__links {
        margin-top: -15px;
        font-size: 14px;
        color: var(--primary-text-color--faint);

        a {
          display: inline-block;
          color: var(--primary-text-color--faint);
          text-decoration: none;
          padding: 15px;
          font-weight: 500;

          strong {
            font-weight: 700;
            color: var(--primary-text-color);
          }
        }
      }

      @media screen and (max-width: $no-columns-breakpoint) {
        display: block;
        flex: 100%;
      }
    }
  }

  .account__section-headline {
    border-radius: 4px 4px 0 0;

    @media screen and (max-width: $no-gap-breakpoint) {
      border-radius: 0;
    }
  }

  .detailed-status__meta {
    margin-top: 25px;
  }

  .public-account-bio {
    background: var(--brand-color--med);
    box-shadow: 0 0 15px rgba($base-shadow-color, 0.2);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;

    @media screen and (max-width: $no-gap-breakpoint) {
      box-shadow: none;
      margin-bottom: 0;
      border-radius: 0;
    }

    .account__header__fields {
      margin: 0;
      border-top: 0;

      a {
        color: var(--brand-color);
      }

      dl:first-child .verified {
        border-radius: 0 4px 0 0;
      }

      .verified a {
        color: $valid-value-color;
      }
    }

    .account__header__content {
      padding: 20px;
      padding-bottom: 0;
      color: var(--primary-text-color);
    }

    &__extra,
    .roles {
      padding: 20px;
      font-size: 14px;
      color: var(--primary-text-color--faint);
    }

    .roles {
      padding-bottom: 0;
    }
  }

  .static-icon-button {
    color: var(--brand-color);
    font-size: 18px;

    & > span {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .card-grid {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    margin: 0 -5px;

    & > div {
      box-sizing: border-box;
      flex: 1 0 auto;
      width: 300px;
      padding: 0 5px;
      margin-bottom: 10px;
      max-width: 33.333%;

      @media screen and (max-width: 900px) {
        max-width: 50%;
      }

      @media screen and (max-width: 600px) {
        max-width: 100%;
      }
    }

    @media screen and (max-width: $no-gap-breakpoint) {
      margin: 0;
      border-top: 1px solid var(--brand-color--med);

      & > div {
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        border-bottom: 1px solid var(--brand-color--med);

        &:last-child {
          border-bottom: 0;
        }

        .card__bar {
          background: var(--brand-color--med);

          &:hover,
          &:active,
          &:focus {
            background: var(--brand-color--faint);
          }
        }
      }
    }
  }
}

.container {
  box-sizing: border-box;
  max-width: $maximum-width;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: $fluid-breakpoint) {
    width: 100%;
    padding: 0 10px;
  }
}

.rich-formatting {
  font-family: var(--font-sans-serif), sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-text-color--faint);
  max-width: 600px;
  padding: 15px 30px;

  & > :first-child {
    margin-top: 0.5em;
  }

  a {
    color: var(--highlight-text-color);
    text-decoration: underline;
  }

  p {
    margin: 1em 0;
  }

  p,
  li {
    font-family: var(--font-sans-serif), sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--primary-text-color--faint);

    a {
      color: var(--highlight-text-color);
      text-decoration: underline;
    }
  }

  strong,
  em,
  b {
    font-weight: bold;
    color: var(--primary-text-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display), sans-serif;
    margin-top: 2em;
    margin-bottom: 1.25em;
    font-weight: 500;
    color: var(--primary-text-color--faint);
  }

  hr + {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1.25em;
    }
  }

  h1 {
    font-size: 26px;
    line-height: 30px;

    small {
      font-family: var(--font-sans-serif), sans-serif;
      display: block;
      font-size: 18px;
      font-weight: 400;
      color: var(--primary-text-color);
    }
  }

  h2 {
    font-size: 22px;
    line-height: 26px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  h4 {
    font-size: 16px;
    line-height: 24px;
  }

  h5 {
    font-size: 14px;
    line-height: 24px;
  }

  h6 {
    font-size: 12px;
    line-height: 24px;
  }

  ul,
  ol {
    padding: 0 0 0 2em;
    margin: 0 0 .85em;

    &[type='a'] {
      list-style-type: lower-alpha;
    }

    &[type='i'] {
      list-style-type: lower-roman;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li > ol,
  li > ul {
    margin-top: 6px;
  }

  li p {
    margin-top: 0;
  }

  hr {
    width: 100%;
    height: 0;
    border: 0;
    border-bottom: 1px solid hsla(var(--background-color_hsl), .6);
    margin: 2em 0;

    &.spacer {
      height: 1px;
      border: 0;
    }
  }
}

.information-board {
  background: var(--brand-color--med);
  padding: 20px 0;

  .container-alt {
    position: relative;
    padding-right: 280px + 15px;
  }

  &__sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__section {
    flex: 1 0 0;
    font-family: var(--font-sans-serif), sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: var(--primary-text-color);
    text-align: right;
    padding: 10px 15px;

    span,
    strong {
      display: block;
    }

    span {
      &:last-child {
        color: var(--primary-text-color--faint);
      }
    }

    strong {
      font-family: var(--font-display), sans-serif;
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
    }

    @media screen and (max-width: $column-breakpoint) {
      text-align: center;
    }
  }

  .panel {
    position: absolute;
    width: 280px;
    box-sizing: border-box;
    background: var(--background-color);
    padding: 20px;
    padding-top: 10px;
    border-radius: 4px 4px 0 0;
    right: 0;
    bottom: -40px;

    .panel-header {
      font-family: var(--font-display), sans-serif;
      font-size: 14px;
      line-height: 24px;
      font-weight: 500;
      color: var(--primary-text-color--faint);
      padding-bottom: 5px;
      margin-bottom: 15px;
      border-bottom: 1px solid var(--brand-color--faint);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      a,
      span {
        font-weight: 400;
        color: var(--primary-text-color);
      }

      a {
        text-decoration: none;
      }
    }
  }

  .owner {
    text-align: center;

    .avatar {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      margin-bottom: 15px;

      img {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 48px;
      }
    }

    .name {
      font-size: 14px;

      a {
        display: block;
        color: var(--primary-text-color);
        text-decoration: none;

        &:hover {
          .display_name {
            text-decoration: underline;
          }
        }
      }

      .username {
        display: block;
        color: var(--primary-text-color--faint);
      }
    }
  }
}

.landing-page {
  p,
  li {
    font-family: var(--font-sans-serif), sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 12px;
    color: var(--primary-text-color--faint);

    a {
      color: var(--highlight-text-color);
      text-decoration: underline;
    }
  }

  em {
    display: inline;
    margin: 0;
    padding: 0;
    font-weight: 700;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: var(--primary-text-color);
  }

  h1 {
    font-family: var(--font-display), sans-serif;
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--primary-text-color--faint);

    small {
      font-family: var(--font-sans-serif), sans-serif;
      display: block;
      font-size: 18px;
      font-weight: 400;
      color: var(--primary-text-color);
    }
  }

  h2 {
    font-family: var(--font-display), sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--primary-text-color--faint);
  }

  h3 {
    font-family: var(--font-display), sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--primary-text-color--faint);
  }

  h4 {
    font-family: var(--font-display), sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--primary-text-color--faint);
  }

  h5 {
    font-family: var(--font-display), sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--primary-text-color--faint);
  }

  h6 {
    font-family: var(--font-display), sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--primary-text-color--faint);
  }

  ul,
  ol {
    margin-left: 20px;

    &[type='a'] {
      list-style-type: lower-alpha;
    }

    &[type='i'] {
      list-style-type: lower-roman;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li > ol,
  li > ul {
    margin-top: 6px;
  }

  hr {
    width: 100%;
    height: 0;
    border: 0;
    border-bottom: 1px solid hsla(var(--background-color_hsl), .6);
    margin: 20px 0;

    &.spacer {
      height: 1px;
      border: 0;
    }
  }

  &__information,
  &__forms {
    padding: 20px;
  }

  &__call-to-action {
    background: var(--brand-color--med);
    border-radius: 4px;
    padding: 25px 40px;
    overflow: hidden;
    box-sizing: border-box;

    .row {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .row__information-board {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      .information-board__section {
        flex: 1 0 auto;
        padding: 0 10px;
      }

      @media screen and (max-width: $no-gap-breakpoint) {
        width: 100%;
        justify-content: space-between;
      }
    }

    .row__mascot {
      flex: 1;
      margin: 10px -50px 0 0;

      @media screen and (max-width: $no-gap-breakpoint) {
        display: none;
      }
    }
  }

  &__logo {
    margin-right: 20px;

    img {
      height: 50px;
      width: auto;
      mix-blend-mode: lighten;
    }
  }

  &__information {
    padding: 45px 40px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    strong {
      font-weight: 500;
      color: var(--primary-text-color);
    }

    .account {
      border-bottom: 0;
      padding: 0;

      &__display-name {
        align-items: center;
        display: flex;
        margin-right: 5px;
      }

      div.account__display-name {
        &:hover {
          .display-name strong {
            text-decoration: none;
          }
        }

        .account__avatar {
          cursor: default;
        }
      }

      &__avatar-wrapper {
        margin-left: 0;
        flex: 0 0 auto;
      }

      &__avatar {
        width: 44px;
        height: 44px;
        background-size: 44px 44px;
      }

      .display-name {
        font-size: 15px;

        &__account {
          font-size: 14px;
        }
      }
    }

    @media screen and (max-width: $small-breakpoint) {
      .contact {
        margin-top: 30px;
      }
    }

    @media screen and (max-width: $column-breakpoint) {
      padding: 25px 20px;
    }
  }

  &__information,
  &__forms,
  #soapbox-timeline {
    box-sizing: border-box;
    background: var(--brand-color--med);
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(#000000, 0.1);
  }

  &__mascot {
    height: 104px;
    position: relative;
    left: -40px;
    bottom: 25px;

    img {
      height: 190px;
      width: auto;
    }
  }

  &__short-description {
    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 40px;
    }

    @media screen and (max-width: $column-breakpoint) {
      .row {
        margin-bottom: 20px;
      }
    }

    p a {
      color: var(--primary-text-color--faint);
    }

    h1 {
      font-weight: 500;
      color: var(--primary-text-color);
      margin-bottom: 0;

      small {
        color: var(--primary-text-color--faint);

        span {
          color: var(--primary-text-color--faint);
        }
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__hero {
    margin-bottom: 10px;

    img {
      display: block;
      margin: 0;
      max-width: 100%;
      height: auto;
      border-radius: 4px;
    }
  }

  @media screen and (max-width: 840px) {
    .information-board {
      .container-alt {
        padding-right: 20px;
      }

      .panel {
        position: static;
        margin-top: 20px;
        width: 100%;
        border-radius: 4px;

        .panel-header {
          text-align: center;
        }
      }
    }
  }

  @media screen and (max-width: 675px) {
    .header-wrapper {
      padding-top: 0;

      &.compact {
        padding-bottom: 0;
      }

      &.compact .hero .heading {
        text-align: initial;
      }
    }

    .header .container-alt,
    .features .container-alt {
      display: block;
    }
  }

  .cta {
    margin: 20px;
  }
}

.public-layout {
  position: relative;
  background-color: var(--brand-color);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 -106px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    .wave {
      display: none;
    }

    .brand__tagline,
    .brand h1 {
      color: #fff;
    }

    .header {
      .nav-link {
        color: #fff;

        &:hover,
        &:focus,
        &:active {
          color: #fff;
          opacity: 0.9;
        }
      }

      .brand {
        filter: brightness(0) invert(100%);
      }

      .nav-button {
        background: var(--accent-color);
        color: #fff;
        transition: 0.2s;

        &:hover,
        &:focus,
        &:active {
          background: var(--accent-color--bright);
        }
      }
    }
  }
}

.app-holder > .public-layout {
  align-items: normal;
}

.landing {
  height: auto;
  min-height: 80vh;

  @media (min-width: 767px) {
    min-height: 550px;
  }

  .landing-columns {
    display: flex;
    flex-direction: row;
    padding: 40px 0 20px;

    &--left {
      margin-right: 80px;
    }

    &--right {
      margin-left: auto;
      width: 395px;
      background-color: var(--foreground-color);
      border-radius: 6px;

      .simple_form {
        padding: 20px;
        background-color: var(--brand-color--faint);
        border-radius: inherit;
      }
    }

    @media (min-width: 767px) and (max-width: 1024px) {
      padding: 40px 20px 20px;

      &--left {
        margin-right: 40px;
      }

      &--right {
        width: 425px;
      }
    }

    @media screen and (max-width: 767px) {
      height: auto;
      padding: 20px 10px 30px;
      flex-direction: column;
      align-items: center;

      &--left {
        margin-right: 0;
      }

      &--right {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }

  &__brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .brand {
      margin-right: auto !important;
      line-height: normal;
    }

    img {
      height: 100px;

      @media (min-width: 767px) and (max-width: 1024px) {
        height: 60px;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    h1 {
      font-size: 40px;
    }
  }

  .directory {
    margin-top: 30px;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
  }

  .hero-widget {
    margin-top: 30px;
    margin-bottom: 0;

    h4 {
      padding: 10px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      color: var(--primary-text-color--faint);
    }

    &__text {
      border-radius: 0;
      padding-bottom: 0;
    }

    &__footer {
      background: var(--brand-color--med);
      padding: 10px;
      border-radius: 0 0 4px 4px;
      display: flex;

      &__column {
        flex: 1 1 50%;
      }
    }

    .account {
      padding: 10px 0;
      border-bottom: 0;

      .account__display-name {
        display: flex;
        align-items: center;
      }

      .account__avatar {
        width: 44px;
        height: 44px;
        background-size: 44px 44px;
      }
    }

    &__counter {
      padding: 10px;

      strong {
        font-family: var(--font-display), sans-serif;
        font-size: 15px;
        font-weight: 700;
        display: block;
      }

      span {
        font-size: 14px;
        color: var(--primary-text-color--faint);
      }
    }
  }

  .simple_form .user_agreement .label_input > label {
    font-weight: 400;
    color: var(--primary-text-color--faint);
  }

  .simple_form p.lead {
    color: var(--primary-text-color);
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  &__grid {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    grid-gap: 30px;

    @media screen and (max-width: 738px) {
      grid-template-columns: minmax(0, 100%);
      grid-gap: 10px;

      &__column-login {
        grid-row: 1;
        display: flex;
        flex-direction: column;

        .box-widget {
          order: 2;
          flex: 0 0 auto;
        }

        .hero-widget {
          margin-top: 0;
          margin-bottom: 10px;
          order: 1;
          flex: 0 0 auto;
        }
      }

      &__column-registration {
        grid-row: 2;
      }

      .directory {
        margin-top: 10px;
      }
    }

    @media screen and (max-width: $no-gap-breakpoint) {
      grid-gap: 0;

      .hero-widget {
        display: block;
        margin-bottom: 0;
        box-shadow: none;

        &__img,
        &__img img,
        &__footer {
          border-radius: 0;
        }
      }

      .hero-widget,
      .box-widget,
      .directory__tag {
        border-bottom: 1px solid var(--brand-color--med);
      }

      .directory {
        margin-top: 0;

        &__tag {
          margin-bottom: 0;

          & > a,
          & > div {
            border-radius: 0;
            box-shadow: none;
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

.brand {
  position: relative;
  text-decoration: none;
  margin-right: 15px;

  h1 {
    @include font-montserrat;
    color: var(--brand-color);
  }
}

.brand__tagline {
  display: block;
  width: 470px;
  color: var(--primary-text-color);
  font-size: 30px;
  line-height: 1.4;
  margin-top: 25px;
  font-weight: 400;

  @media (min-width: 767px) and (max-width: 1024px) {
    width: 320px;
    font-size: 20px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    font-size: 22px;
    margin-top: 0;
  }
}

@media (min-width: 767px) {
  .hidden-sm {
    display: block;
  }

  .visible-sm {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }

  .visible-sm {
    display: block !important;
  }
}

.public-layout pre.canary {
  white-space: pre-wrap;
}

.about-page {
  background: var(--brand-color--faint);
  border-radius: inherit;
}

.public-layout__top {
  position: relative;
  flex: 1;

  .header,
  .container {
    position: relative;
    z-index: 1;
  }
}

.public-layout__top .wave {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
